---
import type { CollectionEntry } from 'astro:content'
import FormattedDate from './formatted-date.astro'

export interface Props {
  post: CollectionEntry<'blog'>
}

const { post } = Astro.props
---

<li class="post">
  <a href={`/blog/${post.id}/`}>
    <h3 class="title">{post.data.title}</h3>
    <p class="date">
      <FormattedDate date={post.data.pubDate} />
    </p>
  </a>
  <ul class="tags">
    {
      post.data.tags?.map((tag) => (
        <li class="tag">
          <a href={`/tags/${tag}`}>{tag}</a>
        </li>
      ))
    }
  </ul>
</li>
