---
import type { ImageMetadata } from 'astro'
import BaseHead from '@/components/base-head.astro'
import CommandPalette from '@/components/command-palette.astro'
import Footer from '@/components/footer.astro'
import Header from '@/components/header.astro'
import PostHog from '@/components/posthog.astro'
import { SITE_TITLE } from '@/consts'

interface Props {
  title?: string
  description: string
  image?: ImageMetadata
  imageAlt?: string
  noindex?: boolean
  type?: 'article' | 'website'
  publishedTime?: Date
  modifiedTime?: Date
  authorUrl?: string
  tags?: string[]
}

const { title, description, image, imageAlt, noindex, type, publishedTime, modifiedTime, authorUrl, tags } = Astro.props
const pageTitle = [title, SITE_TITLE].filter(Boolean).join(' - ')
---

<html lang="en" class="scrollbar-gutter-stable">
  <head>
    <BaseHead
      title={pageTitle}
      description={description}
      image={image}
      imageAlt={imageAlt}
      noindex={noindex}
      type={type}
      publishedTime={publishedTime}
      modifiedTime={modifiedTime}
      authorUrl={authorUrl}
      tags={tags}
    />
    {import.meta.env.PROD && <PostHog />}
  </head>

  <body class="bg-bg font-sans text-text selection:bg-accent selection:text-white">
    <div class="mx-auto min-h-screen max-w-216 px-6 pt-10 pb-20 sm:px-12">
      <Header />
      <main>
        <slot />
      </main>
      <Footer />
    </div>
    <CommandPalette />
  </body>
</html>
